# Build files
#-----------------------------------
build
debug
build.zip

# Node.js modules
#-----------------------------------
node_modules

# IDE and editor configs
#-----------------------------------
.idea
.vscode
